<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Puesto</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="empleado : ${empleados}">
				<td th:text="${empleado.nombre}"></td>
				<td th:text="${empleado.puesto}"></td>
				<td th:text="${empleado.email}"></td>
			</tr>
		</tbody>
	</table>

	<a th:href="@{/empleados/formularioEmpleado}">Añadir empleado</a>
	<a th:href="@{/empleados/oficinas}">Ver tabla de oficinas</a>
</body>
</html>