<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>USUARIOS</title>
</head>
<body>
  <h1>Listado de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado del Perfil</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.id}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.perfil != null ? usuario.perfil.estado : 'Sin perfil'}"></td>
                <td><a th:href="@{/ver-usuario/{id}(id=${usuario.id})}">Ver</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Volver al inicio</a>

</body>
</html>