<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <title>Añadir Usuario</title>
</head>
<body>
    <h1>Añadir Nuevo Usuario</h1>
    <form action="/guardar-usuario" method="post" th:object="${usuario}">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:value="${usuario?.nombre}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:value="${usuario?.email}" required>
        </div>
        <div>
            <label for="bio">Biografía:</label>
            <textarea id="bio" name="bio" th:text="${usuario?.perfil?.bio}" required></textarea>
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" th:value="${usuario?.perfil?.estado}" required>
        </div>
        <button type="submit">Guardar</button>
        <a href="/ver-todos-los-usuarios">Volver al listado</a>
    </form>

</body>
</html>