<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
    <h1>Detalles del Cliente</h1>
    
     <p><strong>ID:</strong> <span th:text="${cliente.id}"></span></p>
    <p><strong>Nombre:</strong> <span th:text="${cliente.nombre}"></span></p>
    <p><strong>Calle:</strong> <span th:text="${cliente.direccion.calle}"></span></p>
    <p><strong>Ciudad:</strong> <span th:text="${cliente.direccion.ciudad}"></span></p>

    <br>
    <a th:href="@{/clientes}">Volver al listado</a>
	
</body>
</html>