<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado Clientes</title>
</head>
<body>
<h1>Listado de Clientes</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Ciudad</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
		    <tr th:each="cliente : ${clientes}">
		        <td th:text="${cliente.id}"></td>
		        <td th:text="${cliente.nombre}"></td>
		        <td th:text="${cliente.direccion.ciudad}"></td>
		       <td><a th:href="@{/clientes/detalles/{id}(id=${cliente.id})}">Ver</a></td>
		    </tr>
		</tbody>
	</table>
	<a th:href="@{/clientes/formulario}">Agregar cliente</a>
    <a th:href="@{/clientes/ciudad}">Buscar por provincia</a>
</body>
</html>