<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Empleados</title>
</head>
<body>
  <h1>Listado de Empleados</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Puesto</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.puesto}"></td>
                <td th:text="${empleado.email}"></td>
            </tr>
        </tbody>
    </table>
    <a href="/">Volver al inicio</a>

</body>
</html>