<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Puesto</th>
            <th>Email</th>
        </tr>
        <tr th:each="empleado : ${empleados}">
            <td th:text="${empleado.nombre}"></td>
            <td th:text="${empleado.puesto}"></td>
            <td th:text="${empleado.email}"></td>
        </tr>
    </table>
    <br>
    <a href="/empleados/form-empleado">Añadir nuevo empleado</a>
</body>
</html>