<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Oficinas</title>
</head>
<body>
    <h1>Lista de Oficinas</h1>
    <table border="1">
        <tr>
            <th>Ubicación</th>
            <th>Teléfono</th>
        </tr>
        <tr th:each="oficina : ${oficinas}">
            <td th:text="${oficina.ubicacion}"></td>
            <td th:text="${oficina.telefono}"></td>
        </tr>
    </table>
    <br>
    <a href="/oficinas/form-oficina">Añadir nueva oficina</a>
    <br>
    
    <tr th:each="oficina : ${oficinas}">
    <td th:text="${oficina.ubicacion}"></td>
    <td th:text="${oficina.telefono}"></td>
    <td>
        <a th:href="@{/oficinas/{id}/empleados(id=${oficina.id})}">Ver empleados</a>
    </td>
</tr>
    
    
</body>
</html>
